@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-primary);
  --color-primary: var(--color-red-400);
  --color-secondary: var(--color-slate-950);
  --color-theme-white: var(--color-red-50);
}

p {
  font-family: var(--font-secondary);

}

cite {
  font-style: normal;
  color: var(--color-primary)
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--color-theme-white);
  }
}

body {

  font-family: var(--font-primary);
}

.thin-scroll::-webkit-scrollbar {
  height: 5px;
  /* 2px height for horizontal scrollbar in WebKit-based browsers (Chrome, Safari, Edge) */
  width: 5px;
  /* 2px width for vertical scrollbar (if ever needed on this element) */
}

.thin-scroll::-webkit-scrollbar-track {
  background-color: var(--color-gray-500);
  border-radius: 10px;

  /* Gray track (Tailwind's gray-300 is a good match for "gray") */
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 10px;
}


.thin-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

/* For Firefox */